/inbox
/src/__pycache__
/src/db/__pycache__
/src/sessions/__pycache__
/src/utils/__pycache__
/src/entities/__pycache__
/src/processors/__pycache__
/src/ui/__pycache__
src/credentials.json
src/env.json
src/discarded/signin.html
src/discarded/env.json
