/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

table {
  border-collapse: collapse;
  width: 70%
}

th{
  background-color: #555;
  color: white;
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid white;
  height: 50px;
}
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid white;
}
th:first-child,
td:first-child {
  padding-left: 15px; }
th:last-child,
td:last-child {
  padding-right: 15px; }


tr {
    background-color: white;
    color: black;
    box-shadow: 0 4px 20px 0px #d6fbff, 0 7px 10px -5px #555;
    /*box-shadow: 1px 1px white;*/
}
tr.selected,
tr:hover {
    background-color: #d6fbff;
}

/*
tbody{
  display:block;
  overflow:auto;
  height:200px;
  width:100%;
}
*/
